<a href="https://colab.research.google.com/github/Aswathymn17/Python_Programming_Assignment/blob/main/Practice_Problem_Day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practice Problems Day02**

In [1]:
# 1. Write a program to find sum of all elements in a list of integers.
list1=[1,77,88,4,9,10]
print(sum(list1))

189

In [5]:
# 3. Input a sentence as a string.
# a)Print its length
# b)Print the first half of string
#a)
sen=input('Enter the sentence ')
len_sen=len(sen)
print('Length is string is ',len_sen)
#b)
f_half=len_sen//2
print('First half of string is ',sen[:f_half])

Enter the sentence Hello Welcome to India
Length is string is  22
First half of string is  Hello Welco

In [9]:
# 4. Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100
tuple1=(78,45,32,19,82,77,40,39)
list1=list(tuple1)
list1[2]=100
tuplenew=tuple(list1)
print(tuplenew)

(78, 45, 100, 19, 82, 77, 40, 39)

In [10]:
"""
5. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a)Delete the first occurrence of 32
(b)Delete all occurrences of 40
(c)Delete the value at index=5
(d)Modify the value at index=9 as 300
(e)Add 200 at index=2
(f)Print the final list with its length, maximum value and sum of all elements
"""

listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

In [11]:
# a.) Delete the first occurrence of 32
listA.remove(32)

In [12]:
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [13]:
# b.) Delete all occurrences of 40
del listA[-2:]

In [14]:
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

In [15]:
# c.) Delete the value at index=5
listA.pop(5)
listA

[19, 10, 55, 31, 32, 29, 10, 65, 77]

In [18]:
#d.) Modify the value at index=9 as 300
listA.insert(9,300)
listA

[19, 10, 55, 31, 32, 29, 10, 65, 77, 300]

In [19]:
# e.) Add 200 at index=2
listA.insert(2,200)
listA

[19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]

In [20]:
# f.) Print the final list with its length, maximum value and sum of all elements
print('Final list length is', len(listA))
print('Max value in list is ',max(listA))
print('Sum of all elements in list is ',sum(listA))

Final list length is 11
Max value in list is  300
Sum of all elements in list is  828

In [28]:
"""
Consider a string ”The day has been long”.
(a)Delete the value at index =4
(b)Print the string 4 times in a single line with space between each repetition
(c)Print the string 3 times in a new line each time
(d)Modify the string at index 7 as ’A’
(e)Print the string from index 4 to 15
(f)Print the final string with its length
"""
string1='The day has been long'

In [29]:
# a.) Delete the value at index =4
new_string=string1[:4]+string1[5:]
print(new_string)

The ay has been long

In [30]:
# b.) Print the string 4 times in a single line with space between each repetition
print((new_string+' ')*4)

The ay has been long The ay has been long The ay has been long The ay has been long

In [31]:
# c.) Print the string 3 times in a new line each time
print((new_string+'\n')*3)

The ay has been long
The ay has been long
The ay has been long

In [36]:
# d.) )Modify the string at index 7 as ’A’
modify_string=new_string[:7]+'A'+new_string[8:]
print(modify_string)

The ay Aas been long

In [37]:
# e.) Print the string from index 4 to 15
print(modify_string[4:16])

ay Aas been

In [38]:
# f.) Print the final string with its length
print('final string length is ',len(modify_string))

final string length is  20