<a href="https://colab.research.google.com/github/Aswathymn17/Python_Programming_Assignment/blob/main/Python_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

In [ ]:
print(233)

233

In [ ]:
print(4.5)

4.5

In [ ]:
print('welcome to',end=' ')
print('world of python',end='!!')

welcome to world of python!!

In [ ]:
print('\"World \"')

"World "

In [ ]:
age=40
print(age)

40

In [ ]:
name='aswathy'
age=24
mark=80
price=100.8
print(name)
print(age)
print(mark)
print(price)

aswathy
24
80
100.8

In [ ]:
name,age,mark='aswathy',25,80
print(name,age,mark)

aswathy 25 80

In [ ]:
x=10
y=56.9
a=6+7j
print(type(x))
print(type(y))
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
num=int(input("enter a number"))
print(num)
print(type(num))

enter a number89
89
<class 'int'>

In [ ]:
a='aswathy'
b='hello  '
msg=b+a
print(msg)

hello  aswathy

In [ ]:
print('python\n'*8)

python
python
python
python
python
python
python
python

In [ ]:
forename=input("enter forename")
Lname=input("enter LastName")

print('hello '+ forename+" "+Lname)

enter forenameanu
enter LastNamemn
hello anu mn

In [ ]:
s='python'
print(s[0:4])
print(a[:3])
print(s[-5:-2])

pyth
asw
yth

In [ ]:
print(s[0:6:2])

pto

In [ ]:
print(s[::-1])

nohtyp

In [ ]:
print(bool('he'))

True

Arithmetic operator

In [ ]:
length=float(input('enter length'))
breadth=float(input('enter breadth'))
area=length*breadth
print('Area of rectangle',area)

enter length7
enter breadth9
Area of rectangle 63.0

In [ ]:
a=10
b=15
print(a,b)
print(id(a))
print(id(b))

10 15
136514160542224
136514160542384

In [ ]:
a=10
b=15
b=a
print(a,b)
print(id(a))
print(id(b))

10 10
136514160542224
136514160542224